/* Styles specific to the App component can go here */

.App {
  min-height: 100vh;
  width: 100%;
}

.App-header {
  background-color: #fff;
  min-height: calc(100vh - 44px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  padding: 20px;
}

.App-link {
  color: #1677ff;
}

.ant-tabs-content-holder {
  height: calc(100vh - 44px);
  overflow-y: auto;
} 