/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.App .ant-tabs {
  height: 100%;
}

.App .ant-tabs-content {
  height: calc(100% - 46px); /* 减去 tabs 标签栏的高度 */
}

.App .ant-tabs-tabpane {
  height: 100%;
}

.App-header {
  background-color: #f0f2f5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
}

.App-link {
  color: #1677ff;
  margin: 0 5px;
} 